﻿* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    background-color: #222;
    color: #eee;
}

#root {
    overflow: auto;
}

.title {
    border-bottom: 1px solid #555;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    height: 25px;
    padding: 3px;
}

@media screen and (min-width: 800px) {
    .title {
        margin-bottom: 10px;
        font-size: 1.4em;
        height: 35px;
    }
}

.container {
    width: 100%;
    overflow: auto;
}

@media screen and (min-width: 800px) {
    .container {
        width: 800px;
        margin: 0 auto;
        overflow: auto;
    }
}
