.canvas {
    height: 100vh;
    width: 100%;
    float: left;
}

.canvas .fullscreen-message {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    text-align: center;
    padding: 15px;
    width: 90%;
    left: 5%;
    top: 50%;
}

    .canvas canvas {
        display: block;
        height: calc(100% - 50px);
        width: 100%;
    }

@media screen and (min-width: 800px) {
    .canvas {
        height: initial;
        display: block;
        float: left;
        width: 50%;
    }

        .canvas canvas {
            height: initial;
            width: initial;
        }
}

.canvas .mobile-control button {
    display: inline-block;
    font-size: 2em;
    height: 50px;
    width: 25%;
}

@media screen and (min-width: 800px) {
    .canvas .mobile-control {
        display: none;
    }
}
