.scores {
    width: 50%;
    height: 70px;
    overflow: hidden;
    font-size: .7em;
    float: left;
}

    .scores div {
        overflow: auto;
        margin: 2px;
        margin-top: 0;
        color: #aaa;
    }

    .scores > div:first-child {
        text-align: center;
    }

    .scores div span {
        display: inline-block;
    }

        .scores div span:first-child {
            float: left;
        }

        .scores div span:last-child {
            float: right;
        }

    .scores > div:first-child {
        color: #eee;
    }

@media screen and (min-width: 800px) {
    .scores {
        width: 25%;
        font-size: 1em;
        height: auto;
    }

        .scores div {
            margin: 5px;
            margin-top: 0;
        }

            .scores div span {
                font-size: .8em;
            }

                .scores div span:last-child {
                    padding: 2px;
                }
}
