.info {
    padding: 5px;
    padding-top: 0;
    height: 70px;
    float: left;
    width: 50%;
}

    .info .level,
    .info .score {
        display: inline-block;
        font-size: .8em;
        width: 50%;
    }

    .info .controls {
        display: none;
    }

    .info .play input,
    .info .play button {
        text-align: center;
        width: 100%;
    }

@media screen and (min-width: 800px) {
    .info {
        width: 25%;
        height: auto;
        float: right;
    }

        .info .level,
        .info .score {
            width: 100%;
            display: block;
            font-size: 1.2em;
            margin-bottom: 15px;
        }

        .info .controls {
            display: block;
            margin-bottom: 30px;
        }

            .info .controls div:first-child {
                margin-bottom: 5px;
            }

        .info .play input,
        .info .play button {
            margin-bottom: 5px;
            padding: 5px;
            height: 30px;
            width: 150px;
        }
}
